<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>IndoEats</title>
  </head>
  <body>
    <a href="#main" class="skip">Skip to Posts?</a>
    <header class="header">
      <!--mobile-->
      <div class="mobile-menu">
        <div class="icon-menu"><a href="#nav-drawer" id="menu" class="header-menu">☰</a></div>
        <div class="mobile-logo"><strong id="indo-logo">Indo<span id="variation">Eats</span></strong></div>
      </div>
      
      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li id="nav-drawer"class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/rodhiyati-mardhiyyah/" target="_blank">About Us</a></li>
        </ul>
      </nav>

      <!--Desktop-->
      <nav class="nav-desktop">
        <a href="" class="logo-desktop"><strong>Indo<span id="variation">Eats</span></strong ></a>
        <ul class="navlist">
          <li class="nav-item-desktop"><a href="">Home</a></li>
          <li class="nav-item-desktop"><a href="#">Favorite</a></li>
          <li class="nav-item-desktop"><a href="https://www.linkedin.com/in/rodhiyati-mardhiyyah/" target="_blank">About Us</a></li>
        </ul>
      </nav>

      <div class="hero" >
        <div class="hero-inner">
          <h1 class="hero-title">Indo<span id="variation-title">Eats</span></h1>
          <p class="hero-tagline">
            Find the best places to eat
          </p>
        </div>
      </div>
    </header>

    <main id="main" tabindex="0">
      <section class="content">
        <div class="explore">
          <h2>Explore Restaurant</h2>
          <div class="posts"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>Copyright © 2023 - IndoEats</p>
    </footer>
    
    
  </body>
</html>
